@import "./theme";	//主题变量
@import "./reset";	//重置
@import "./mixin";	//方法
@import "./gird";	//布局
@import "./media";	//media查询改变样式
@import "./1px";	//1px实现
@import "./module";	//小组件样式
@import "./font";	//字体
@import "./util";	//工具类

#appWrapper, #container{
	height:100%;
	background: $body-background;
	-webkit-overflow-scrolling: auto;
}
.containerWrap {
	height: auto;
	background: $body-background;
}

.noscroll{
	height: 100%;
	overflow: hidden;
}

.scrollContent{
	padding: .18rem .18rem 0;
	margin-right: -0.18rem;
	display: flex;
    flex-wrap: wrap;
    .list-item{
		position: relative;
	    background: #fff;
	    overflow: hidden;
    	width: 3.48rem;
    	height: 6.26rem;
    	margin-right: .18rem;
    	border-radius: .06rem;
    	margin-bottom: .18rem;
    	.detail-image{
    		position: relative;
    		height: 5.22rem;
    		overflow: hidden;
			img{
	    		width: 100%;
	    	}    		
    	}
	    .video-tag{
	    	display: block;
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	left: 0;
	    	bottom: 1.04rem;
	    	margin: auto;
	    	width: 50px;
	    	height: 50px;
		    font-size: 50px;
		    color: #efefef;
		    line-height: 1;
	    }
	    .detail-desc{
		    height: .74rem;
		    font-size: .26rem;
		    color: #666;
		    line-height: .38rem;
		    margin: .18rem .18rem 0;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 2;
		    overflow: hidden;
	    }
	}
}

.pageWrap{
	video{
		width: 7.5rem;
		height: 10rem;
	}
	.avatar-list{
		padding: .25rem;
		margin-right: -.2rem;
		.avatar-item{
			position: relative;
			.avatar{
				width: 1.6rem;
				height: 1.6rem;
				margin-right: .2rem;
				display: block;
			    border-radius: .8rem;
			    overflow: hidden;
			    img{
			    	width: 100%;
			    }
			}
			i{
				position: absolute;
				right: 0.2rem;
    			bottom: -0.05rem;
			}			
		}	
	}
	.faceBtn{
		width: 7rem;
		margin-top: 0.2rem;
		margin-bottom: 0.5rem
	}
}

.weui-uploader__file,.weui-uploader__input-box{
 	height: 2rem;
	width: 2rem;
	margin-right: 0.3rem;
	margin-bottom: 0.24rem;
}





